.container {
  max-width: 1100px;
  margin: 0 auto;
}

.logo-wrapper {
  min-width: 180px;
}

.logo-img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.qr-img {
  height: 120px;
  width: 120px;
  object-fit: contain;
  background: white;
  border: 1px solid var(--surface-border);
  padding: 0.5rem;
}

.active {
  color: #10b981;
  font-weight: bold;
}

.inactive {
  color: rgb(253, 58, 58);
  font-weight: bold;
}