:host {
    background-color: #eee;
}

p-toolbar {
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #ffffff59;
    overflow: hidden;
}

.active-menu-item {
    background-color: rgba(53, 53, 53, 0.23) !important;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}
