<div class="min-h-screen flex flex-column">
  <p-toolbar class="bg-primary px-10 w-full justify-content-center md:justify-content-between">
    <ng-template pTemplate="start">
      <img src="logo-white.png" alt="Turnero Logo" height="32" class="m-auto" />
    </ng-template>
    <ng-template pTemplate="center">
      <div class="flex gap-2">
        <ul class="menu flex md:flex-row">
          @for (item of menuItems; track item.label) {
          <li
            class="flex flex-column gap-1 align-items-center w-3rem md:w-7rem p-2 cursor-pointer hover:bg-black-alpha-10 rounded-md"
            [routerLink]="item.routerLink"
            [routerLinkActive]="'active-menu-item'"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span [class]="item.icon"></span>
            <small class="hidden md:block">{{ item.label }}</small>
          </li>
          }
        </ul>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <p-splitbutton
        [label]="userFullName()"
        severity="secondary"
        [model]="itemsUserMenu"
        size="small"
      />
    </ng-template>
  </p-toolbar>
  <main class="flex-1 p-4 surface-ground px-10">
    <router-outlet />
  </main>
</div>
