@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

.pr-10 {
    padding-right: 10rem;
}
.pl-10 {
    padding-left: 10rem;
}