@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-10 {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}
.pr-10 {
    padding-right: 10rem;
}
.pl-10 {
    padding-left: 10rem;
}